<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--	<listeners>
		<listener class-name="com.mystore.utility.ListenerClass"></listener>
	</listeners> -->
  <test thread-count="5" name="Test">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
    
    <class name="com.mystore.testCases.SearchResultPageTestCase"/>
    <!--
      <class name="com.mystore.testCases.IndexPageTestCase"/>
     
      <class name="com.mystore.testCases.EndToEndTestCase"/>
      <class name="com.mystore.testCases.HomePageTestCase"/>
      <class name="com.mystore.testCases.AccountCreationPageTestCase"/>
      <class name="com.mystore.testCases.SearchResultPageTestCase"/>
      <class name="com.mystore.testCases.OrderPageTestCase"/>
      <class name="com.mystore.testCases.AddToCartPageTestCase"/>
   -->   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
